body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:yellow;
}
.font{
    font-family: Kalam;
}
p{
    font-family: Kalam;
    font-size: 20px;
}

.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 400px;
    max-width: 500px
 }
 
 .slide-right h1 {
    animation: 2s slide-right;
    animation-delay: 0s;
 }
 
 @keyframes slide-right {
     from {
        margin-left: -500px;
     }
 
     to {
        margin-left: 0%;
     }
  }
  
#space {
    font-family: century;
    font-weight: bold;
    font-size: xx-large;
    float: left;
    color: black;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    position: sticky;
    top: 0;
}
.navbar ul{
    display:flex;
    list-style:none;
    margin:20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: aqua;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color:white;
    color:black;
    box-shadow: 0 0 10px white;
}
#home{
    display:flex;
    flex-direction: column;
    height:840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../color.jpeg) no-repeat center center/cover;
    height: 800px;
    width: 100%;
    z-index: -1;
    opacity: .5;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;

}
.headings{
    font-family: Shadows Into Light;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
#about{
    display:flex;
    flex-direction: column;
    box-sizing:border-box;
    padding: 20px;
    margin-bottom: 50px;

}


#pic{
    display: flex;
}
#pic img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
#me h1{
    text-align: center;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    color: black;

}
#intro h2{
    font-size:2rem;
    margin-bottom: 20px;
    color:white;

}
#portfolio{
    display: flex;
    flex-direction: column;
    color: black;

}
#list{
    font-weight: bold;
    font-size: xx-large;
}
#contact{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
