body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar ul{
    display:flex;
    list-style:none;
    margin:20px 0px;
}