body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:blueviolet;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    position: sticky;
    top: 0;
}
.navbar ul{
    display:flex;
    list-style:none;
    margin:20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: aqua;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color:white;
    color:black;
    box-shadow: 0 0 10px white;
}
#home{
    display:flex;
    flex-direction: column;
    height:840px;
    justify-content: center;
    align-items: center;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;

}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;

}
#about{
    display:flex;
    flex-direction: column;
    box-sizing:border-box;
    padding: 20px;
    margin-bottom: 50px;

}
#pic{
    display: flex;
}
#pic img{
    width: 400px;
    height: 575px;
}
#me h1{
    text-align: center;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    color: white;

}
#intro h2{
    font-size:2rem;
    margin-bottom: 20px;
    color:white;

}
#portfolio{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: justify;
    font-size:x-large;
    font-weight: bold;

}
#contact{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.form{
    
}
