#home{
    height:820px;
    width :fit-content;
}
.headings{
    font-size: 1.7rem;
}
#pic img{
    width:300px;
    height: 150px;
    border-radius: 50%;
}
@media screen and (min-width: 480px) {
    
}
